USE [BOOK_STORE]
GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 3/19/2024 12:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrder](
	[OrderID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_tblOrder1] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBook]    Script Date: 3/19/2024 12:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBook](
	[BookID] [int] NOT NULL,
	[Title] [text] NOT NULL,
	[Author] [text] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_tblBook] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrderDetail]    Script Date: 3/19/2024 12:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetail](
	[OrderdetailID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblOrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderdetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MONTHLY_SALES_REPORT]    Script Date: 3/19/2024 12:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MONTHLY_SALES_REPORT]
AS
	SELECT MONTH(OrderDate) 'Month',SUM(od.Quantity*b.Price) 'Amount'
	FROM tblOrder o
	INNER JOIN tblOrderDetail od ON o.OrderID = od.OrderID
	INNER JOIN tblBook b ON od.BookID = b.BookID
	GROUP BY MONTH(OrderDate)
GO
/****** Object:  Table [dbo].[tblOrderStatus]    Script Date: 3/19/2024 12:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderStatus](
	[StatusID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[StatusDescription] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_tblOrderStatus_1] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_soldBook]    Script Date: 3/19/2024 12:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_soldBook] AS(
SELECT b.BookID, CONVERT(VARCHAR(MAX), b.Title) AS bookTitle, SUM(od.Quantity) AS soldBook FROM tblOrderDetail od
INNER JOIN tblBook b ON od.BookID = b.BookID
INNER JOIN tblOrder o ON od.OrderID = o.OrderID
INNER JOIN tblOrderStatus os ON o.OrderID = os.OrderID
WHERE os.StatusDescription = 'Delivered'
GROUP BY b.BookID, CONVERT(VARCHAR(MAX), b.Title))
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 3/19/2024 12:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserID] [int] NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[BirthYear] [smallint] NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Gmail] [varchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Buyer]    Script Date: 3/19/2024 12:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Buyer] AS
(SELECT u.UserID, u.FullName, SUM(od.Quantity) AS boughtBook FROM tblOrderDetail od
INNER JOIN tblOrder o ON od.OrderID = o.OrderID
INNER JOIN tblOrderStatus os ON o.OrderID = os.OrderID
INNER JOIN tblUser u ON o.UserID = u.UserID
WHERE os.StatusDescription = 'Delivered'
GROUP BY u.UserID, u.FullName);
GO
/****** Object:  Table [dbo].[tblBookCategoryMapping]    Script Date: 3/19/2024 12:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBookCategoryMapping](
	[CMappingID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_tblBookCategoryMapping] PRIMARY KEY CLUSTERED 
(
	[CMappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 3/19/2024 12:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[CategoryID] [int] NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPayment]    Script Date: 3/19/2024 12:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPayment](
	[PaymentID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_tblPayment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRestock]    Script Date: 3/19/2024 12:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRestock](
	[RestockID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UpdatedDate] [date] NOT NULL,
 CONSTRAINT [PK_tblRestock1] PRIMARY KEY CLUSTERED 
(
	[RestockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblBook] ([BookID], [Title], [Author], [Price], [Quantity]) VALUES (0, N'Goat Brothers', N'By Colton, Larry', 8.79, 22)
INSERT [dbo].[tblBook] ([BookID], [Title], [Author], [Price], [Quantity]) VALUES (1, N'The Missing Person', N'By Grumbach, Doris', 4.99, 20)
INSERT [dbo].[tblBook] ([BookID], [Title], [Author], [Price], [Quantity]) VALUES (2, N'Don''t Eat Your Heart Out Cookbook', N'By Piscatella, Joseph C.', 4.99, 20)
GO
INSERT [dbo].[tblBookCategoryMapping] ([CMappingID], [BookID], [CategoryID]) VALUES (0, 0, 49)
INSERT [dbo].[tblBookCategoryMapping] ([CMappingID], [BookID], [CategoryID]) VALUES (1, 0, 189)
INSERT [dbo].[tblBookCategoryMapping] ([CMappingID], [BookID], [CategoryID]) VALUES (2, 0, 258)
GO
INSERT [dbo].[tblCategory] ([CategoryID], [Category]) VALUES (0, N'Couples & Famil')
INSERT [dbo].[tblCategory] ([CategoryID], [Category]) VALUES (1, N'Weight Los')
INSERT [dbo].[tblCategory] ([CategoryID], [Category]) VALUES (2, N'Techniques')
GO
INSERT [dbo].[tblOrder] ([OrderID], [OrderDate], [UserID]) VALUES (0, CAST(N'2022-06-14' AS Date), 207863)
INSERT [dbo].[tblOrder] ([OrderID], [OrderDate], [UserID]) VALUES (1, CAST(N'2022-10-14' AS Date), 192984)
INSERT [dbo].[tblOrder] ([OrderID], [OrderDate], [UserID]) VALUES (2, CAST(N'2022-04-25' AS Date), 231866)
GO
INSERT [dbo].[tblOrderDetail] ([OrderdetailID], [OrderID], [BookID], [Quantity]) VALUES (0, 0, 609, 5)
INSERT [dbo].[tblOrderDetail] ([OrderdetailID], [OrderID], [BookID], [Quantity]) VALUES (1, 1, 514, 1)
INSERT [dbo].[tblOrderDetail] ([OrderdetailID], [OrderID], [BookID], [Quantity]) VALUES (2, 2, 69, 4)
GO
INSERT [dbo].[tblOrderStatus] ([StatusID], [OrderID], [StatusDescription]) VALUES (0, 134, N'Delivered')
INSERT [dbo].[tblOrderStatus] ([StatusID], [OrderID], [StatusDescription]) VALUES (1, 18, N'Cancelled')
INSERT [dbo].[tblOrderStatus] ([StatusID], [OrderID], [StatusDescription]) VALUES (2, 49, N'Processing')
GO
INSERT [dbo].[tblPayment] ([PaymentID], [OrderID], [PaymentMethod], [PaymentStatus]) VALUES (1, 24, N'Credit Card', N'Completed')
INSERT [dbo].[tblPayment] ([PaymentID], [OrderID], [PaymentMethod], [PaymentStatus]) VALUES (2, 25, N'PayPal', N'Completed')
INSERT [dbo].[tblPayment] ([PaymentID], [OrderID], [PaymentMethod], [PaymentStatus]) VALUES (3, 26, N'Cash', N'Pending')
GO
INSERT [dbo].[tblRestock] ([RestockID], [BookID], [Quantity], [UpdatedDate]) VALUES (0, 123, 50, CAST(N'2022-09-29' AS Date))
INSERT [dbo].[tblRestock] ([RestockID], [BookID], [Quantity], [UpdatedDate]) VALUES (1, 456, 30, CAST(N'2022-12-30' AS Date))
INSERT [dbo].[tblRestock] ([RestockID], [BookID], [Quantity], [UpdatedDate]) VALUES (2, 789, 20, CAST(N'2022-06-03' AS Date))
GO
INSERT [dbo].[tblUser] ([UserID], [FullName], [BirthYear], [Country], [Username], [Gmail], [Password], [Phone], [Address]) VALUES (20801, N'C. Ronaldo dos Santos Aveiro', 1985, N'USA', N'cronaldodossantosaveiro1985', N'cronaldodossantosaveiro1985@gmail.com', N'#0000003C', N'9126591978', N'250 Hartford Avenue, Bellingham, MA, 2019')
INSERT [dbo].[tblUser] ([UserID], [FullName], [BirthYear], [Country], [Username], [Gmail], [Password], [Phone], [Address]) VALUES (41236, N'Zlatan Ibrahimović', 1982, N'USA', N'zlatanibrahimovi1982', N'zlatanibrahimovi1982@gmail.com', N'#000117DM', N'9123789208', N'164 Danbury Rd, New Milford, CT, 6776')
INSERT [dbo].[tblUser] ([UserID], [FullName], [BirthYear], [Country], [Username], [Gmail], [Password], [Phone], [Address]) VALUES (135507, N'Fernando Luiz Rosa', 1985, N'USA', N'fernandoluizrosa1985', N'fernandoluizrosa1985@gmail.com', N'#000154EX', N'9120515957', N'1950 W Main St, Centre, AL, 35960')
GO
ALTER TABLE [dbo].[tblBookCategoryMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblBookCategoryMapping_tblBook1] FOREIGN KEY([BookID])
REFERENCES [dbo].[tblBook] ([BookID])
GO
ALTER TABLE [dbo].[tblBookCategoryMapping] CHECK CONSTRAINT [FK_tblBookCategoryMapping_tblBook1]
GO
ALTER TABLE [dbo].[tblCategory]  WITH CHECK ADD  CONSTRAINT [FK_tblCategory_tblBookCategoryMapping] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tblBookCategoryMapping] ([CMappingID])
GO
ALTER TABLE [dbo].[tblCategory] CHECK CONSTRAINT [FK_tblCategory_tblBookCategoryMapping]
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD  CONSTRAINT [FK_tblOrder1_tblUser] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUser] ([UserID])
GO
ALTER TABLE [dbo].[tblOrder] CHECK CONSTRAINT [FK_tblOrder1_tblUser]
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetail_tblBook] FOREIGN KEY([BookID])
REFERENCES [dbo].[tblBook] ([BookID])
GO
ALTER TABLE [dbo].[tblOrderDetail] CHECK CONSTRAINT [FK_tblOrderDetail_tblBook]
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetail_tblOrder1] FOREIGN KEY([OrderID])
REFERENCES [dbo].[tblOrder] ([OrderID])
GO
ALTER TABLE [dbo].[tblOrderDetail] CHECK CONSTRAINT [FK_tblOrderDetail_tblOrder1]
GO
ALTER TABLE [dbo].[tblOrderStatus]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderStatus_tblOrder1] FOREIGN KEY([OrderID])
REFERENCES [dbo].[tblOrder] ([OrderID])
GO
ALTER TABLE [dbo].[tblOrderStatus] CHECK CONSTRAINT [FK_tblOrderStatus_tblOrder1]
GO
ALTER TABLE [dbo].[tblPayment]  WITH CHECK ADD  CONSTRAINT [FK_tblPayment_tblOrder1] FOREIGN KEY([OrderID])
REFERENCES [dbo].[tblOrder] ([OrderID])
GO
ALTER TABLE [dbo].[tblPayment] CHECK CONSTRAINT [FK_tblPayment_tblOrder1]
GO
ALTER TABLE [dbo].[tblRestock]  WITH CHECK ADD  CONSTRAINT [FK_tblRestock1_tblBook] FOREIGN KEY([BookID])
REFERENCES [dbo].[tblBook] ([BookID])
GO
ALTER TABLE [dbo].[tblRestock] CHECK CONSTRAINT [FK_tblRestock1_tblBook]
GO
ALTER TABLE [dbo].[tblOrderStatus]  WITH CHECK ADD  CONSTRAINT [CHK_StatusDescription] CHECK  (([StatusDescription]='Processing' OR [StatusDescription]='Delivered' OR [StatusDescription]='Cancelled'))
GO
ALTER TABLE [dbo].[tblOrderStatus] CHECK CONSTRAINT [CHK_StatusDescription]
GO
ALTER TABLE [dbo].[tblPayment]  WITH CHECK ADD  CONSTRAINT [CHK_PaymentStatus] CHECK  (([PaymentStatus]='Pending' OR [PaymentStatus]='Completed'))
GO
ALTER TABLE [dbo].[tblPayment] CHECK CONSTRAINT [CHK_PaymentStatus]
GO
